body{
	font-family: 'Muli', sans-serif;
	/*background-image: linear-gradient(90deg, #dbe6f6, #c5796d);*/
    /*background-image: radial-gradient(#b6fbff, #83a4d4);*/
    /*background-image: url(wild-sea.png);*/
    background-image: url(ferdinand-stohr-149422.jpg);
    background-size: cover;
    font-weight: normal;
}   
/* #bardejov-nostyle table tr td a {
    text-decoration: none;
 }*/

.container {
	max-width: 1300px;
	margin:-25px auto;
    /*margin-top:*/ 
    background-color:rgba(256,256,256,0.7); 
}

h1 {
    padding-top: 40px;
    padding-left: 150px
}

h1, h3, h4, .box a {
	color:#75260c;
}

.box {
    max-width: 1000px;
	/*background-color: rgba(256,256,256,0.6);*/
	padding: 15px 35px 23px 35px;
	margin: 22px auto;
	border-radius: 7px;

}

.box a {
    text-decoration: none;
}

input[type=text] {
	height: 20px;
	width: 300px;
	/*border-radius: 0px;*/
	margin: 7px;
	/*padding: 7px;*/
}

select {
    margin: 7px;
    font-family: 'Muli', sans-serif;
    /*color: black;*/
}

#from, #to{
	width: 100px;
}

#institution, #department, #street {
    width: 550px;
}

.from {
    width: 250px;
}



.yes-column {
    width: 80px;
}

hr {
    
    width: 1000px;
    color: #f29f0b66;
}

textarea {
    width: 400px;
    height: 100px;
}

#submit {
    margin-left: 145px;
    margin-bottom: 40px;
    height: 35px;
    width: 90px;
}

#submit:hover {
    background-color: #f29f0b66;
}

/*label {
    cursor: default;
}*/