body{
	font-family: 'Muli', sans-serif;
	/*background-image: linear-gradient(90deg, #dbe6f6, #c5796d);*/
    /*background-image: radial-gradient(#b6fbff, #83a4d4);*/
    background-image: url(shattered-island.gif);
    font-weight: normal;
}   
/* #bardejov-nostyle table tr td a {
    text-decoration: none;
 }*/

.container {
	max-width: 1200px;
	margin:-25px auto;
    /*margin-top:*/ 
    background-color:rgba(249, 239, 229,1.0); 
}

h1 {
    padding-top: 50px;
    padding-left: 100px
}

h1, h3, h4, .box a {
	color:#1d0f7b;
}

.box {
    max-width: 1000px;
	/*background-color: rgba(256,256,256,0.6);*/
	padding: 15px 35px 23px 35px;
	margin: 22px auto;
	border-radius: 0px;
    border-bottom: solid;
    /*border-bottom-style: groove;*/
    border-bottom-width: 1px;
    border-bottom-color: #6971cc66; 
    line-height: 150%;
}

.box a {
    text-decoration: none;
}

input[type=text] {
	height: 20px;
	width: 300px;
	/*border-radius: 0px;*/
	margin: 7px;
	/*padding: 7px;*/
}

select {
    margin: 7px;
    font-family: 'Muli', sans-serif;
    /*color: black;*/
}

#from, #to{
	width: 100px;
}

#institution, #department, #street {
    width: 550px;
}

.from {
    width: 250px;
}



.yes-column {
    width: 80px;
}

/*hr {
    
    width: 1000px;
    color: #f29f0b66;
}*/

.switch {
    /*background-color: rgba(256,256,256,0.9);*/
    opacity: 0.3;
    margin: 0px 400px 0px 0px;
    padding: 0 10px 10px 10px;
}

textarea {
    width: 400px;
    height: 100px;
    max-width: 1000px;
    max-height: 200px;
}

#submit {
    margin-left: 64px;
    margin-bottom: 40px;
    height: 35px;
    width: 90px;
}

#submit:hover {
    background-color: #6971cc66;
}

#accommodation {
    margin-left: 0px;
}

/*label {
    cursor: default;
}*/