body {
	font-family: 'Muli', sans-serif;
    background-color: #555999;
    background-image: url(fancy-pants1.png);
    margin: 0;
}   

.container {
	max-width: 1200px;
	margin-left: auto;
    margin-right: auto;
    background-color: rgb(249, 239, 229);
}

.content {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto; 
}

h1 {
    margin-top: 0; 
    padding-top: 50px;
}

h1, h3, h4, a {
	color: #1d0f7b;
}

.form-section {
	padding: 15px 0 23px 0;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0BDDC; 
    line-height: 1.5;
}

.field {
	height: 1.4em;
	width: 24em;
	margin: 7px;
}

.field--long {
    width: 150%;
}

.field--date {
	width: 10em;
    margin-right: 20px;
}

select {
    margin: 7px;
    font-family: 'Muli', sans-serif;
    /*color: black;*/
}

.required-data ::after {
    content: " *";
    color: red;
}

.required-notice {
    margin-top: 30px;
    margin-bottom: -20px;
    font-size: 14px;
    font-style: italic;
}

.required-notice__marker {
    font-size: 16px;
    color: red;
}

.nights {
    font-size: 18px;
    font-weight: bold;
}

.alert {
    display: inline-block;
    max-width: 400px;
    /*width: 100%;*/
    font-size: 14px;
    color: red;
    vertical-align: top;
}

.margin-bottom {   /*in div "form-section transport" & fieldset "accommodation-details"*/
    margin-bottom: 12px;
}

.accommodation-details {
   border: none;
}

fieldset[disabled] {
    color: #999;
}

textarea {
    width: 50%;
    height: 100px;
    max-width: 1000px;
    max-height: 200px;
}

.submit {
    margin: 20px 0 60px 0;
    padding: 8px 30px;
    font-size: 135%;
    font-family: 'Muli', sans-serif;
    height: 2.5em;
    width: 7em;
}

.accommodation {
    margin-left: 0px;
}

.in-total {
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px; 
}